body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(251, 247, 241);
}
.sideBar {
    position: absolute;
    z-index: 4;
    left: 0;
    height: 100vh;
    width: 7%;
    background-color: rgb(71, 139, 50);
    -webkit-box-shadow: 10px 0px 6px 1px rgba(19,49,4,0.79); 
    box-shadow: 10px 0px 6px 1px rgba(19,49,4,0.79);
    transition: background-color 1s ease;
}

.sideBar.home {
    background-color: rgb(71, 139, 50);
}

.sideBar.about {
    background-color: orange;
}

.sideBar.gallery {
    background-color: blue;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 7px;
    z-index: 1000;
    border-radius: 0 0 0 9px;
}

.menu-icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 150px;
    text-align: right;
}

.dropdown-content .nav-item {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .nav-item:hover {
    background-color: #575757;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 20px;
}

.logo img {
    height: auto;
    max-height: 50%;
    max-width: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.welcomeTxt {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.welcomeTxt h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.welcomeTxt p {
    font-size: 1.2em;
    line-height: 1.6em;
}

.panel{
    transition: ease-in 1s;
}







.image-gallery img{
    border-radius: 7px;
    max-height: 70%;
}