body{
    margin: 0;
    font-family: 'Playwrite DE Grund', sans-serif;
}

#topBar{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 150px;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: rgb(145, 139, 122);
    z-index: 5;
}
#imageContainer{
    height: 100%;
    width: 44%;
    position: absolute;
    left: 28%;
    display: flex;
    justify-content: space-between;
}
#imageContainer img{
    height: 100%;
    margin-right: 5px;
}

#sideBar{
    position: absolute;
    z-index: 4;
    left: 13%;
    height: 100%;
    width: 15%;
    background-color: rgb(88, 177, 61);
    -webkit-box-shadow: 10px 0px 6px 1px rgba(19,49,4,0.79); 
box-shadow: 10px 0px 6px 1px rgba(19,49,4,0.79);
}

#sideBar img{
    position: absolute;
    top: 200px;
    width: 80%;
    left: 10%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
#sideBar h1{
    position: absolute;
    top: 50%;
}


.page{
    background-color: #fffbe2;
    position: absolute;
    top: 200px;
    left: 31%;

    width: 65%;
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}
