<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <section class="sideBar"></section>



    <div class="navbar">
        <div class="menu-icon" onclick="toggleMenu()">
            ☰
        </div>
        <div class="dropdown-content" id="dropdownMenu">
            <a href="#home" class="nav-item" onclick="setSidebarColor('home')">Home</a>
            <a href="#about" class="nav-item"onclick="setSidebarColor('about')">About Us</a>
            <a href="#gallery" class="nav-item"onclick="setSidebarColor('gallery')">Galerie</a>
        </div>
    </div>



    <div id="home" class="panel">
        <div style="flex-direction: column;">
            <div id="logo">
                <img src="static/images/logo.jpg" alt="logo_Image.jpg">
            </div>
            
            <div id="welcomeTxt">
                <h1>Herzlich Wilkommen auf der Homepage der Ponytanten</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam deserunt vero, sint accusantium sed perspiciatis ducimus et ipsum repudiandae vel accusamus, debitis odit autem cupiditate nihil maiores nulla dolore iste?
                </p>
            </div>
        </div>
    </div>

    <div id="about" class="panel" style="display:none;">
        <h1>About Us</h1>
        <p>Informationen über die Ponytanten.</p>
    </div>

    <div id="gallery" class="panel" style="display:none;">
        <h1>Galerie</h1>
        <p>Bildergalerie der Ponytanten.</p>
    </div>
</body>


<script>
function toggleMenu() {
    const dropdownMenu = document.getElementById("dropdownMenu");
    dropdownMenu.style.display = dropdownMenu.style.display === "block" ? "none" : "block";
}

window.onclick = function(event) {
    if (!event.target.matches('.menu-icon')) {
        const dropdownMenu = document.getElementById("dropdownMenu");
        if (dropdownMenu.style.display === "block") {
            dropdownMenu.style.display = "none";
        }
    }
}



function setSidebarColor(section) {
    const sidebar = document.querySelector('.sideBar');
    sidebar.classList.remove('home', 'about', 'gallery');
    sidebar.classList.add(section);
    setPanel(section);
}

function setPanel(section){
    document.getElementById('home').style.opacity="0%";
    document.getElementById('about').style.opacity="0%";
    document.getElementById('gallery').style.opacity="0%";
    document.getElementById(section).style.opacity="100%";
}


</script>
</html>